.Title {
	position: fixed;
	top:0;
	height:70px;
	display:flex;
	background-color:#262525;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:azure;
	border-bottom: 1px solid #98B4D4;
	border-top:none;
}

